@media only screen and (max-width: 62.5em) {
  html,
  body {
    overflow-x: hidden;
    width: 100%;
  }
  .navigation2 {
    display: none;
  }

  .navigation {
    display: block;
  }

  .navigation__image {
    left: 2rem;
    top: 40rem;
    font-size: 1rem;
  }

  .image {
    grid-column: 1/-1;
    grid-row: 1/-1;

    display: block;
  }

  .image__paragraph {
    border: none;
    width: 20%;
    font-size: 1.5rem;
    padding: 2rem;
    border-radius: 0px;
    margin-left: 8rem;
    transform: scaleX(1) scaleY(1);
    margin-top: 30rem;
    -webkit-transform: scaleX(1) scaleY(1);
    -moz-transform: scaleX(1) scaleY(1);
    -ms-transform: scaleX(1) scaleY(1);
    -o-transform: scaleX(1) scaleY(1);
  }

  .image__rating {
    border: none;
    width: 20%;
    font-size: 1.5rem;
    padding: 2rem;
    padding-right: 12rem;
    border-radius: 0px;
    margin-right: 12rem;
    margin-top: -8rem;
    transform: scaleX(1) scaleY(1);
    -webkit-transform: scaleX(1) scaleY(1);
    -moz-transform: scaleX(1) scaleY(1);
    -ms-transform: scaleX(1) scaleY(1);
    -o-transform: scaleX(1) scaleY(1);
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
  }

  .story {
    z-index: 5;
    color: white;
  }

  .story__image {
    height: 1.9rem;
  }

  .ready__open,
  .ready__days {
    font-size: 1.2rem;
  }

  .section__3 {
    grid-template-rows: 15rem 15rem 6rem 4rem;
    grid-template-columns: minmax(0.5rem, 10rem) 50rem minmax(0.5rem, 10rem);
  }

  .section__4 {
    grid-template-rows: min-content min-content;
    grid-template-columns: 15rem 20rem 15rem 23rem;
  }

  .section__5 {
    grid-template-rows: 10rem 15rem 2rem;
    grid-template-columns: minmax(0.5rem, 10rem) 55rem minmax(0.5rem, 10rem);
  }

  .section__6 {
    grid-template-rows: 15rem 15rem 6rem 4rem;
    grid-template-columns: minmax(0.5rem, 10rem) 53rem minmax(0.5rem, 10rem);
  }

  .footer {
    display: grid;
    grid-template-columns: minmax(0.5rem, 9rem) 20rem 20rem minmax(0.5rem, 9rem);
    grid-template-rows: 6rem 18rem 6rem;
  }
}

@media only screen and (max-width: 50em) {
  .image__paragraph {
    margin-left: 4rem;
  }

  .image__rating {
    margin-right: 20rem;
  }

  .navigation__heading {
    left: 1rem;
    top: 1rem;
  }

  .navigation__image {
    left: 2rem;
    top: 40rem;
    font-size: 1rem;
  }

  .section__1 {
    grid-template-columns: minmax(0.5rem, 12rem) 20rem 20rem minmax(
        0.5rem,
        12rem
      );
    grid-template-rows: 4rem 4rem 27rem 6rem;
  }

  .section__2 {
    grid-template-columns: minmax(0.5rem, 12rem) 20rem 20rem minmax(
        0.5rem,
        12rem
      );
    grid-template-rows: 4rem 27rem;
    grid-column-gap: 2rem;
  }

  .section__3 {
    grid-template-rows: 15rem 15rem 6rem 4rem;
    grid-template-columns: minmax(0.5rem, 10rem) 45rem minmax(0.5rem, 10rem);
  }

  .section__4 {
    grid-template-rows: min-content min-content;
    grid-template-columns: 10rem 22rem 10rem 19rem;
  }

  .section__5 {
    grid-template-rows: 10rem 15rem 2rem;
    grid-template-columns: minmax(0.5rem, 10rem) 35rem minmax(0.5rem, 10rem);
  }

  .section__6 {
    grid-template-rows: 15rem 15rem 6rem 4rem;
    grid-template-columns: minmax(1rem, 10rem) 45rem minmax(0.5rem, 10rem);
  }

  .testimonial__line {
    margin-right: auto;
    margin-left: 18rem;
  }

  .section__7 {
    grid-template-rows: 8rem 35rem;
    grid-template-columns: minmax(0.5rem, 19rem) 38rem minmax(0.5rem, 19rem);
  }

  .footer {
    grid-template-columns:
      minmax(0.5rem, 9rem) minmax(19rem, 30rem) minmax(19rem, 30rem)
      minmax(0.5rem, 9rem);
    grid-template-rows: 6rem 18rem 6rem;
    grid-column-gap: 2rem;
  }

  .navigation__button {
    height: 3.5rem;
    width: 3.5rem;
    top: 2.5rem;
    right: 2.5rem;
  }

  .navigation__background {
    height: 3rem;
    width: 3rem;
    top: 2.7rem;
    right: 2.7rem;
  }

  .navigation__icon {
    position: relative;
    margin-top: 1.7rem;
  }

  .navigation__icon::before {
    top: -0.7rem;
  }

  .navigation__icon::after {
    top: 0.7rem;
  }
}

@media only screen and (max-width: 43.75em) {
  .navigation__link:link,
  .navigation__link:visited {
    font-size: 1rem;
    padding: 1rem 2rem;
  }

  .navigation__image {
    left: 2rem;
    top: 40rem;
    font-size: 0.9rem;
  }

  .navigation__img {
    width: 2rem;
  }

  .image__paragraph {
    margin-left: 2rem;
    padding: 0.8rem;
  }

  .image__rating {
    margin-right: 34rem;
    padding: 0.8rem;
    margin-top: -5rem;
  }

  .section__1 {
    grid-template-columns: minmax(0.5rem, 12rem) 28rem minmax(0.5rem, 12rem);
    grid-template-rows: 4rem 1rem 32rem 27rem 2rem;
  }
  .form {
    grid-column: 2/3;
    grid-row: 4/5;
  }

  .section__2 {
    grid-template-columns: minmax(0.5rem, 12rem) 28rem minmax(0.5rem, 12rem);
    grid-template-rows: 4rem 17rem 25rem;
  }

  .learn {
    grid-column: 2/3;
    grid-row: 2/-1;

    display: flex;
    flex-direction: column;
    justify-content: start;
  }

  .fb-big {
    margin-top: 12rem;
  }
  .example {
    grid-column: 2/3;
    grid-row: 3/4;
  }

  .section__3 {
    grid-template-rows: 5rem 15rem 32rem 8rem;
    grid-template-columns: minmax(0.5rem, 10rem) 25rem minmax(0.5rem, 10rem);
  }

  .services__image {
    grid-row: 3/4;
    grid-column: 2/3;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }

  .services {
    grid-column: 2/3;
    grid-row: 2/3;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .heading__services {
    font-size: 2.5rem;
    width: 90%;
    margin-left: 2rem;
    margin-top: 0.7rem;
  }

  .services__link-parent {
    margin-top: 4rem;
    grid-column: 2/3;
    grid-row: 4/5;
    margin-left: auto;
  }

  .section__4 {
    display: grid;
    grid-template-rows: min-content min-content;
    grid-template-columns: 7rem 20rem 9rem 15rem;
  }

  .section__5 {
    grid-template-rows: 10rem 15rem 2rem;
    grid-template-columns: minmax(0.5rem, 10rem) 30rem minmax(0.5rem, 10rem);
  }

  .brands__image {
    grid-row: 2/3;
    grid-column: 2/3;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    justify-content: center;
  }

  .brands__pix {
    width: 6rem;
  }

  .section__6 {
    background-color: #f2f2f2;
    display: grid;
    grid-template-rows: 15rem 28rem 6rem 4rem;
    grid-template-columns: minmax(0.5rem, 10rem) 60rem minmax(0.5rem, 10rem);
  }

  .testimonial__page {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-left: 2rem;
  }

  .testimonial__1,
  .testimonial__2 {
    margin-bottom: 1rem;
    margin-right: 0rem;
  }

  .testimonial__heading {
    grid-column: 1/3;
    grid-row: 1/2;
    margin-top: 3.5rem;
    margin-left: 3rem;
    display: block;
    align-items: center;
    justify-content: left;
    width: 70%;
  }

  .testimonial__line {
    margin-right: auto;
    margin-left: 8rem;
    padding-right: 5rem;
  }

  .testimonial__left {
    margin-left: 1rem;
  }

  .testimonial__carousel {
    grid-column: 1/2;
    grid-row: 3/4;
    justify-content: space-between;
  }

  .section__7 {
    grid-template-rows: 8rem 35rem;
    grid-template-columns: minmax(0.5rem, 19rem) minmax(30rem, 40rem) minmax(
        0.5rem,
        19rem
      );
  }

  .footer {
    grid-template-columns:
      minmax(0.5rem, 9rem) minmax(15rem, 30rem) minmax(15rem, 30rem)
      minmax(0.5rem, 9rem);
    grid-template-rows: 6rem 15rem 15rem 6rem;
  }

  .footer__services {
    grid-column: 2/-1;
    grid-row: 2/3;
  }

  .footer__helpline {
    grid-column: 2/-1;
    grid-row: 3/4;
  }

  .footer__bottom {
    grid-row: 4/5;
    grid-column: 1/-1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 1rem;
  }
  .cars__experience {
    grid-column: 1/-1;
    grid-row: 2/-1;
    margin-left: -3rem;
  }
}

@media only screen and (max-width: 31.25em) {
  html,
  body {
    font-size: 80%;
  }

  .navigation__button {
    height: 3.5rem;
    width: 3.5rem;
    top: 1.5rem;
    right: 1.5rem;
  }

  .navigation__icon,
  .navigation__icon::before,
  .navigation__icon::after {
    width: 1.5rem;
    height: 2px;
  }

  .navigation__background {
    height: 2rem;
    width: 2rem;
    top: 1.7rem;
    right: 1.7rem;
  }

  .container {
    grid-template-columns: minmax(0.5rem, 12rem) 20rem 28rem minmax(
        0.5rem,
        12rem
      );
    grid-template-rows: 4rem 4rem 27rem 6rem;
  }

  .rating__image {
    width: 1.3rem;
    padding-left: 0.5rem;
  }

  .rating__image-1 {
    width: 1.7rem;
    padding-left: 0.5rem;
  }

  .story {
    grid-column: 1/3;
    grid-row: 3/4;
    padding-left: 0.5rem;
  }

  .heading__story {
    font-size: 2.5rem;
  }

  .image__paragraph {
    margin-left: 1rem;
    padding: 0.3rem;
    font-size: 1rem;
  }

  .image__rating {
    margin-left: 1rem;
    padding: 0.3rem;
    margin-top: 0.5rem;
    font-size: 1rem;
  }

  .section__1 {
    grid-template-columns: minmax(0.1rem, 12rem) minmax(23rem, 27rem) minmax(
        0.1rem,
        12rem
      );
    grid-template-rows: 4rem 1rem 32rem 27rem 2rem;
    grid-column-gap: 4rem;
  }

  .heading__2 {
    font-size: 1.2rem;
    width: 70%;
  }

  .heading__h3 {
    font-size: 2.5rem;
    width: 110%;
  }

  .section__2 {
    grid-template-columns: minmax(0.5rem, 12rem) 20rem minmax(0.5rem, 12rem);
    grid-template-rows: 4rem 17rem 29rem;
  }

  .section__3 {
    grid-template-rows: 5rem 15rem 32rem 8rem;
    grid-template-columns: minmax(0.1rem, 10rem) minmax(19rem, 22rem) minmax(
        0.1rem,
        10rem
      );
  }

  .heading__services {
    font-size: 2.5rem;
    width: 86%;
    margin-left: 1rem;
    margin-top: 0.7rem;
    margin-bottom: 1rem;
  }

  .mb-sm {
    margin-top: 0rem;
    margin-bottom: -13rem;
  }

  .section__4 {
    display: grid;
    grid-template-rows: 22rem max-content max-content;
    grid-template-columns: 5rem 16rem 11rem 9rem;
  }

  .cars__experience {
    grid-column: 1/-1;
    grid-row: 2/-1;
    margin-left: -1rem;
    justify-content: start;
    padding-left: 5rem;
  }

  .review__heading,
  .review__paragraph {
    font-size: 0.7rem;
  }

  .cars__review {
    align-items: center;
    padding-right: 1.3rem;
  }

  .section__5 {
    grid-template-rows: 10rem 15rem 2rem;
    grid-template-columns: minmax(0.1rem, 10rem) 20rem minmax(0.1rem, 10rem);
  }

  .brands__pix {
    width: 6rem;
  }

  .section__6 {
    background-color: #f2f2f2;
    display: grid;
    grid-template-rows: 18rem 31rem 7rem 4rem;
    grid-template-columns: minmax(0.1rem, 10rem) 54rem minmax(0.1rem, 10rem);
  }

  .testimonial__line {
    margin-left: 2rem;
    padding-right: 5rem;
  }

  .testimonial__line img {
    width: 6rem;
  }

  .testimonial__right2 {
    width: 2.1rem;
  }

  .testimonial__carousel {
    margin-top: -3.5rem;
    margin-left: 4rem;
  }

  .section__7 {
    grid-template-rows: 8rem 37rem;
    grid-template-columns: minmax(0.1rem, 19rem) minmax(18rem, 30rem) minmax(
        0.1rem,
        19rem
      );
  }

  .questions__heading-big {
    margin-left: 2rem;
  }

  .footer {
    grid-template-columns:
      minmax(0.1rem, 9rem) minmax(13rem, 30rem) minmax(13rem, 30rem)
      minmax(0.1rem, 9rem);
    grid-template-rows: 6rem 15rem 15rem 6rem;
  }

  .footer__services {
    grid-column: 1/-1;
    grid-row: 2/3;
    padding-left: 1rem;
  }

  .footer__helpline {
    grid-column: 1/-1;
    grid-row: 3/4;
    padding-left: 1rem;
  }
}
